### Random Forest Regressor - Metro Traffic

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("data/metro.csv")

In [3]:
data.head()

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume
0,None,288.28,0.0,0.0,40,Clouds,scattered clouds,2012-10-02 09:00:00,5545
1,None,289.36,0.0,0.0,75,Clouds,broken clouds,2012-10-02 10:00:00,4516
2,None,289.58,0.0,0.0,90,Clouds,overcast clouds,2012-10-02 11:00:00,4767
3,None,290.13,0.0,0.0,90,Clouds,overcast clouds,2012-10-02 12:00:00,5026
4,None,291.14,0.0,0.0,75,Clouds,broken clouds,2012-10-02 13:00:00,4918

In [4]:
data = data.drop(['weather_description'],axis=1)  #weather_main feature contains this information

In [5]:
import datetime

In [6]:
data['date_time'] = data['date_time'].apply(lambda x : int(x.split()[1].split(":")[0]))

In [7]:
data.head()

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,date_time,traffic_volume
0,None,288.28,0.0,0.0,40,Clouds,9,5545
1,None,289.36,0.0,0.0,75,Clouds,10,4516
2,None,289.58,0.0,0.0,90,Clouds,11,4767
3,None,290.13,0.0,0.0,90,Clouds,12,5026
4,None,291.14,0.0,0.0,75,Clouds,13,4918

In [8]:
data_bkup = data.copy()

In [9]:
data = pd.get_dummies(data)

In [10]:
data.head()

,temp,rain_1h,snow_1h,clouds_all,date_time,traffic_volume,holiday_Christmas Day,holiday_Columbus Day,holiday_Independence Day,holiday_Labor Day,...,weather_main_Clouds,weather_main_Drizzle,weather_main_Fog,weather_main_Haze,weather_main_Mist,weather_main_Rain,weather_main_Smoke,weather_main_Snow,weather_main_Squall,weather_main_Thunderstorm
0,288.28,0.0,0.0,40,9,5545,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
1,289.36,0.0,0.0,75,10,4516,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,289.58,0.0,0.0,90,11,4767,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,290.13,0.0,0.0,90,12,5026,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,291.14,0.0,0.0,75,13,4918,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [11]:
data.isna().sum()

temp                                 0
rain_1h                              0
snow_1h                              0
clouds_all                           0
date_time                            0
traffic_volume                       0
holiday_Christmas Day                0
holiday_Columbus Day                 0
holiday_Independence Day             0
holiday_Labor Day                    0
holiday_Martin Luther King Jr Day    0
holiday_Memorial Day                 0
holiday_New Years Day                0
holiday_None                         0
holiday_State Fair                   0
holiday_Thanksgiving Day             0
holiday_Veterans Day                 0
holiday_Washingtons Birthday         0
weather_main_Clear                   0
weather_main_Clouds                  0
weather_main_Drizzle                 0
weather_main_Fog                     0
weather_main_Haze                    0
weather_main_Mist                    0
weather_main_Rain                    0
weather_main_Smoke                   0
weather_main_Snow                    0
weather_main_Squall                  0
weather_main_Thunderstorm            0
dtype: int64

In [12]:
X = data.drop("traffic_volume",axis=1)
y = data['traffic_volume']

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33,random_state=42) #0.67 data will be for training.

In [14]:
from sklearn.model_selection import GridSearchCV #GridSearchCV is for parameter tuning
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor()

In [15]:
n_estimators=[75,100] #number of decision trees in the forest, default = 100
criterion=['mse'] #criteria for choosing nodes default = 'mse'
max_depth=[3,5,10] #maximum number of nodes in a tree default = None (it will go till all possible nodes)
#max_features = ['sqrt']
parameters={'n_estimators': n_estimators,'criterion':criterion,'max_depth':max_depth} #this will undergo 2*1*3 = 6 iterations

In [16]:
RFR_reg = GridSearchCV(regressor, parameters)
RFR_reg.fit(X_train,y_train)

GridSearchCV(estimator=RandomForestRegressor(),
             param_grid={'criterion': ['mse'], 'max_depth': [3, 5, 10],
                         'n_estimators': [75, 100]})

In [17]:
RFR_reg.best_params_

{'criterion': 'mse', 'max_depth': 10, 'n_estimators': 100}

In [28]:
regressor = RandomForestRegressor(criterion = "mse",max_depth = 10 , n_estimators = 100)
regressor.fit(X_train,y_train)

RandomForestRegressor(max_depth=10)

In [29]:
ypred = regressor.predict(X_test)

In [30]:
from sklearn.metrics import mean_squared_error #calculating MSE
MSE=mean_squared_error(ypred,y_test)
print("MSE:",MSE)

MSE: 837413.9563703007

In [31]:
import math
math.sqrt(MSE)

915.1032490218253

In [27]:
#END