In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("data/salesprice_processed.csv")

In [3]:
data.head()

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,60,65.0,8450.0,7,5.0,2003,2003,196.0,706.0,0,...,0,0,0,1,0,0,0,0,1,0
1,20,80.0,9600.0,6,7.5,1976,1976,0.0,978.0,0,...,0,0,0,1,0,0,0,0,1,0
2,60,68.0,11250.0,7,5.0,2001,2002,162.0,486.0,0,...,0,0,0,1,0,0,0,0,1,0
3,70,60.0,9550.0,7,5.0,1915,1970,0.0,216.0,0,...,0,0,0,1,1,0,0,0,0,0
4,60,84.0,14260.0,8,5.0,2000,2000,350.0,655.0,0,...,0,0,0,1,0,0,0,0,1,0

In [4]:
data['SalePrice'].head()

0    208500.0
1    181500.0
2    223500.0
3    140000.0
4    250000.0
Name: SalePrice, dtype: float64

### Checking correlation

In [5]:
saleprice_corr = data.corr()['SalePrice']

In [6]:
saleprice_corr

MSSubClass              -0.061456
LotFrontage              0.376300
LotArea                  0.435876
OverallQual              0.817680
OverallCond             -0.105920
                           ...
SaleCondition_AdjLand   -0.057114
SaleCondition_Alloca    -0.015641
SaleCondition_Family    -0.048646
SaleCondition_Normal    -0.127966
SaleCondition_Partial    0.339549
Name: SalePrice, Length: 271, dtype: float64

In [7]:
abs(saleprice_corr)>0.1

MSSubClass               False
LotFrontage               True
LotArea                   True
OverallQual               True
OverallCond               True
                         ...
SaleCondition_AdjLand    False
SaleCondition_Alloca     False
SaleCondition_Family     False
SaleCondition_Normal      True
SaleCondition_Partial     True
Name: SalePrice, Length: 271, dtype: bool

In [8]:
req_columns = saleprice_corr[abs(saleprice_corr)>0.1].index  #selecting columns with correlation

In [9]:
req_columns

Index(['LotFrontage', 'LotArea', 'OverallQual', 'OverallCond', 'YearBuilt',
       'YearRemodAdd', 'MasVnrArea', 'BsmtFinSF1', 'BsmtUnfSF', 'TotalBsmtSF',
       ...
       'GarageQual_TA', 'GarageCond_Fa', 'GarageCond_TA', 'PavedDrive_N',
       'PavedDrive_Y', 'SaleType_New', 'SaleType_WD', 'SaleCondition_Abnorml',
       'SaleCondition_Normal', 'SaleCondition_Partial'],
      dtype='object', length=132)

In [10]:
data_final = data[req_columns]

In [11]:
data_final.head()

,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtUnfSF,TotalBsmtSF,...,GarageQual_TA,GarageCond_Fa,GarageCond_TA,PavedDrive_N,PavedDrive_Y,SaleType_New,SaleType_WD,SaleCondition_Abnorml,SaleCondition_Normal,SaleCondition_Partial
0,65.0,8450.0,7,5.0,2003,2003,196.0,706.0,150.0,856,...,1,0,1,0,1,0,1,0,1,0
1,80.0,9600.0,6,7.5,1976,1976,0.0,978.0,284.0,1262,...,1,0,1,0,1,0,1,0,1,0
2,68.0,11250.0,7,5.0,2001,2002,162.0,486.0,434.0,920,...,1,0,1,0,1,0,1,0,1,0
3,60.0,9550.0,7,5.0,1915,1970,0.0,216.0,540.0,756,...,1,0,1,0,1,0,1,1,0,0
4,84.0,14260.0,8,5.0,2000,2000,350.0,655.0,490.0,1145,...,1,0,1,0,1,0,1,0,1,0

In [12]:
#splitting X and y

y =  data['SalePrice']
X =  data_final.drop('SalePrice',axis = 1)

In [13]:
#import train_test_split to split the data for training and testing

from sklearn.model_selection import train_test_split #we are only importing  train_test_split function from sklearn within the class model_selection

#train_test_split is splitiing the data randomnly

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25) #75% data will be for training and 25% data for testing

In [14]:
from sklearn.linear_model import LinearRegression  #importing LinearRegression from sklearn within the class linear_model

In [15]:
lin_reg = LinearRegression() #creating object of LinearRegression

In [16]:
lin_reg.fit(X_train,y_train) #training and fitting LR object using training data

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [17]:
m  = lin_reg.coef_
print(m)

[ 6.01853350e+01  1.07247825e+00  6.04697070e+03  6.01806692e+03
  8.23467100e+01  1.40101399e+02 -2.43771544e+00 -5.77734273e-01
 -1.23508113e+01  2.30423732e+01 -1.86835074e+01 -1.14894759e+01
  7.07443698e+01  3.25362548e+03 -7.31691984e+02  3.21046408e+02
 -3.88515208e+02 -2.34759103e+02  4.76139128e+03 -2.68364532e+01
  6.93669465e+03  1.35354740e+00  6.98680874e+00  2.63837388e+01
 -4.55842572e+04  5.24497649e+03 -1.50867733e+03 -8.10620822e+03
  8.16862423e+03  1.30806885e+04  8.86236343e+03 -1.03716853e+04
  1.30480330e+04  4.50494331e+03  2.30756110e+04  1.84655406e+02
 -1.61848475e+04 -6.74096230e+02 -3.77587699e+03 -9.99785940e+03
  2.44752383e+04  2.42958506e+04 -1.19755366e+04 -3.16957235e+03
  1.43619146e+04  2.21707168e+04  5.21436631e+03  3.34421540e+02
 -3.49734526e+03  8.81618552e+03  7.00830104e+03 -7.75825385e+03
 -1.37437294e+04 -1.55444796e+04 -6.78158954e+03 -1.39300176e+04
 -1.70406448e+03 -3.01720547e+03 -1.14489197e+03  1.37427918e+04
 -1.64594025e+03 -1.04397924e+04 -8.83476718e+03 -4.22289993e+03
 -6.62241914e+03 -1.41891159e+04  2.33475617e+03  1.51654947e+04
  5.41960735e+03  6.51715514e+03  1.26567263e+04  8.61342782e+03
  5.94523913e+03  1.20744789e+04 -5.82202767e+03  6.57583990e+03
  1.69171858e+03 -2.44553081e+03  6.34703969e+03  3.17358137e+03
 -1.36491534e+03  3.39753484e+03  3.71851890e+03  7.16736371e+03
  8.37317449e+03 -6.09927092e+02 -2.35656977e+03 -5.40667763e+03
 -8.20631617e+03  7.82286316e+03 -1.26930347e+03  8.65013510e+03
 -3.03408811e+03  8.13353799e+03  7.14746942e+03  1.15196236e+04
  7.32999635e+03  8.60263077e+03 -7.40284090e+03 -2.53776727e+03
  1.55633653e+04  1.12719813e+04  1.22054921e+04  1.28885923e+04
 -2.42721424e+02  2.42721424e+02 -7.82647727e+03 -5.32851286e+03
 -8.37939372e+03  1.32999897e+04 -6.47486031e+03 -1.09037224e+03
 -5.73475718e+03  1.38511436e+04  6.85884992e+03  5.25630613e+03
  5.45929154e+03  1.33297051e+03 -1.96047947e+03  6.27508961e+02
 -2.38447314e+04 -2.09894628e+04  1.87060766e+04  2.34918997e+04
  9.24703020e+03  9.75252721e+03 -1.14133547e+04 -6.52441019e+03
 -9.78859177e+03 -8.03431823e+02  5.89303542e+03]

In [18]:
c = lin_reg.intercept_
c

-453173.079814417

In [19]:
ypred=lin_reg.predict(X_test)  #ypred consist of the predicted salary corresponding to X_test

In [20]:
ypred_train = lin_reg.predict(X_train)

In [21]:
from sklearn.metrics import mean_squared_error #calculating MSE
MSE=mean_squared_error(ypred,y_test)
print("MSE for Testing:",MSE)

MSE for Testing: 423522076.1258163

In [22]:
#Training Error
y_pred_training = lin_reg.predict(X_train)
MSE_training=mean_squared_error(y_pred_training,y_train)
print("MSE for Training:",MSE_training)

MSE for Training: 353205339.806211

In [23]:
((MSE_training - MSE)/MSE_training) * 100 #training and testing errors are similar

-19.90817476264236

In [24]:
lin_reg.score(X_train,y_train) #Train R2 value

0.9226340642391939

In [25]:
lin_reg.score(X_test,y_test) #Test R2 value

0.9026669109308515

In [26]:
#END